
/* import fuentes  */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:300,400,500,600,700,800,900');


 /* ESTILOS GENERALES */

 body{

 	margin: 0;
 	padding: 0;

 }


h1, h3{
      
    font-family: 'Montserrat', sans-serif;

 }


h3{
    
    font-weight: 700;
    font-size: 48px;
    color: white;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-top: 2%;
    margin-bottom: 2%;

}


h2, p{
   
   font-family: 'Lato', sans-serif;

 }


 a{

     text-decoration: none;
 }


 /*  HEADER  */


header{   /*  PROPIEDADES DEL HEADER; */
      
      width: 100%;
      height: auto;
 	  background-color: #2c3e50;
 	  padding: 10px 6%;
 	  font-family: 'Montserrat', sans-serif;
 	  font-weight: 800;
 	  text-transform: uppercase;
 	  color: white;
 	  position: fixed;
 	  top: 0;


 }

header a{
      
      color:white;

 }

header a:hover{
      
      color: #18bc9c;
 }


header a:hover h1{
      
      color: white;
 }

header h1{
      
      margin-left: 10px;

 }


nav{   /*  PROPIEDADES DEL MENÚ  */

	position: fixed;
	top:10px;
	left: 66%;

}



ul{

  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: ;


}




li{

   display: inline-block;
   margin: 15px 10px;
   letter-spacing: 0.05em;

 }




 /**********  secciones  *********/


 section{       

    width: 100%;
    height: auto;
    

 }


/* PROPIEDADES SEPARADOR ESTRELLA */


.white hr {     /*  línea blanca  */

   width: 250px;
   background-color: white;
   height: 5px;
   border: 0;
   margin-bottom: -5px;

   
 }


 .white .fa-star{  /*  estrella blanca  */

 	background-color: #18bc9c;
 	padding: 6px;
 
 }

.blue hr {  /*  línea azul  */

   width: 250px;
   background-color: #2c3e50;
   height: 5px;
   border: 0;
   margin-bottom: -5px;
   
 }


.blue .fa-star{  /*  estrella azul  */

 	background-color: white;
 	color: #2c3e50;
 	padding: 6px;
 
 }

.star .fa {  /*  tamaño estrella  */

	font-size: 35px;
    text-align: center;
    margin-top: -60px;
}




 /*  SECCIÓN HOME */


#home{    /*  propiedades generales de la sección  */
    
    margin-top: 101px; 
    background-color: #18bc9c;
    color: white;
    text-align: center;
    padding: 7% 0;


}


#home h1{  /*  título */
    
    font-weight: 700;
    font-size: 75px;
    color: white;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-top: 2%;
    margin-bottom: 3%;


}



#home h2{  /*  texto debajo de la imagen  */
    
    font-weight: 400;
    font-size: 28px;
    color: white;
    text-align: center;
    letter-spacing: 0.01em;
    margin-top: 1%;
    margin-bottom: 0;

}


 /*  SECCION PORTFOLIO  */


#portfolio{   /*  propiedades generales de la sección  */
    
    
    background-color: white;
    text-align: center;
    padding: 5.5% 0;


}


 #portfolio h3{    /*  título   */
    
    color: #212529;

}

#portfolio a img{   /*  alineación y separación entre imágenes  */
    
   width: 27%;
   height: auto;
   display: inline-block;
   margin: 13px;

}


 /*  SECCIÓN ABOUT  */
 
#about{  /*  propiedades generales de la sección  */
    
 
    background-color: #18bc9c;
    color: white;
    text-align: center;
    padding: 5.5% 0;


}


#about h3{ /*  título   */
    
    color: white;

}



#about p{   /*  párrafos dentro de la sección about  */
    
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: left;
    margin: 0;
    line-height: 1.5em;

}

.text{   /*  alineación y separación entre párrafos  */

	width: 27%;
	height: auto;
	display: inline-block;
	margin: 10px 15px;
}


.boton{   /*  div de botón de descarga  */

	margin-top: 5%;


}

#about a{  /*  estilo botón e descarga */
    
    font-weight: 400;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px 20px;
    border: 2px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

#about a:hover{
    
    
    color: #18bc9c;
    text-align: center;
    background-color: white;
    border: 2px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}


 /*  SECCIÓN CONTACT  */


 #contact{  /*  propiedades generales de la sección  */
    
    
    background-color: white;
    padding: 5.5% 0;


}

#contact h3{
    
    color: #212529;

}


form{ /*  TAMAÑOS DEL FORMULARIO  */

	width: 58%;
	height: auto;
	margin-left: 20%;

}

input, textarea { /*  ESTILO DEL FORMULARIO  */


    width: 100%;
    padding: 12px 20px 35px 0;
    border: none;
    border-bottom: 1px solid #eeeeee;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    color: #858e95;

}


button{ /*  ESTILO BOTÓN FORMULARIO  */


    padding: 12px 18px;
    margin-top: 20px;
    background-color: #18bc9c;
    border: none;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

button:hover{

    background-color: teal;
    
}

 /*  FOOTER */

footer{   /*  estilo footer  */

    
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 4% 0 2.2%;
}


.col{  /*  alineación y separación entre columnas  */

   width: 27%;
   height: auto;
   display: inline-block;
   vertical-align: text-top;
   margin: 0 1%;
  
   
}

.col:nth-child(2){  /*  margen columna centro  */

   margin-right: 3%;
}


footer h3{ /*  titulos footer */

    font-size: 28px;
    color: white;
    margin-top: 0;
    margin-bottom: 12%;
  
}



footer p{  /* estilo contenido footer  */

    
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin: 0;
    line-height: 1.5em;
  
}



footer a{ /*  estilo íconos redes en footer  */

    
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 0 3px;
    border: 2px solid white;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding-top: 12px;
    padding-bottom: 12px;

}


footer a:hover{
    
    color: #18bc9c;
    background-color: white;
  
}





.fa-facebook{

	padding-left:18px;
	padding-right:18px;

} 


.fa-google-plus{

	padding-left:11px;
	padding-right:11px;

} 

.fa-twitter{

	padding-left:14px;
	padding-right:14px;

} 

.fa-linkedin{

	padding-left:15px;
	padding-right:15px;
}

.fa-dribbble{

	padding-left:15px;
	padding-right:15px;

}



span{

	color:#18bc9c;

}



.colofon{  /*  copyright  */

	 margin-top: 6%;
}


.colofon p {

    font-weight: 400;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: white;
    line-height: 1.5em;

}

